<section id="index-navbar">
    <div class='logo'>
        {{#link-to 'index'}}I N T R I P D{{/link-to}}
    </div>
    <div class='links'>
        {{#link-to 'index' class='link border'}}REGISTER{{/link-to}}
        {{#link-to 'auth.login' class='link'}}LOG IN{{/link-to}}
    </div>
</section>