<section id="app-topbar">
    <div id="logo-box">
        <img src="images/intripd-logo.png" width="30px" height="37px" />
    </div>
    <div id="user-menus">
        <!-- User name, icon, notifications -->
        Stephen Wright
    </div>
</section>