<section id='grab'>
    {{render 'components/index-menubar'}}
    <div class='content darken'>
        <section id='login-panel'>
            <div class='header'>Log In</div>
            <div class='social'>
                <div class='signin' id='facebook-login-button'>
                    Log In with Facebook
                </div>
            </div>
        </section>
    </div>
</section>