@import 'bootstrap';

@import 'base';
@import 'index';
@import 'index-menubar';
@import 'auth/base';
@import 'auth/auth';
@import 'auth/login';
@import 'components/web-topbar';

@color-black: #2a2925;
@color-white: #f9f9f3;
@color-green: #bbce3b;
@color-dark: #66675c;
@color-blue: #75bdd1;
@color-facebook: #3b5998;
/* global variables */
@color-active : #2ecc71;
@color-disable : #e74c3c;
@color-bg : #ECF0F1;
@border-thin : 1px solid #bdc3c7;