#grab {
    width: 100%;
    min-height: 100%;
    position: absolute;
    background: url(/images/grab.jpg) center center fixed repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}